.message {
	display: flex;
	flex-direction: column;
}

.message .timestamp {
	display: flex;
	justify-content: center;
	color: #999;
	font-weight: 600;
	font-size: 12px;
	margin: 10px 0px;
	text-transform: uppercase;
}

.message .bubble-container {
	font-size: 14px;
	display: flex;
}

.message.professional .bubble-container {
	justify-content: flex-end;
}

.message.start .bubble-container .bubble {
	/* margin-top: 10px; */
	border-top-left-radius: 20px;
}

.message.end .bubble-container .bubble {
	border-bottom-left-radius: 20px;
	/* margin-bottom: 10px; */
}

.message.professional.start .bubble-container .bubble {
	margin-top: 10px;
	border-top-right-radius: 20px;
}

.message.professional.end .bubble-container .bubble {
	border-bottom-right-radius: 20px;
	margin-bottom: 10px;
}

.message .bubble-container .bubble {
	margin: 1px 0px;
	background: #f4f4f8;
	padding: 10px 15px;
	border-radius: 20px;
	max-width: 75%;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.message.professional .bubble-container .bubble {
	background: #007aff;
	color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
